.card-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 300px auto;

  margin: 20px 0;

  img{
    width: 100%;
  }

  .card-body{
    align-self: center;
  }
}

.image-slider-container{
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;

  .image-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1s;

    h2{
      background-color: rgba(0,0,0,0.3);
      align-self: flex-start;
      font-size: 30px;
      color: white;
      padding: 20px;
      transition: all 1.5s;

      transform: translateX(-100px);
    }

    .active{
      transform: translateX(0);
    }
  }

  .active{
    opacity: 1;
    transform: translateX(0);
  }
}