.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: #e9c46a;
  z-index: 10;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);

  h1{
    padding: 5px;
  }

  .nav-button-layout{
    display: flex;
  }

  a {
    color: inherit;
  }

}

.nav-button{
  padding: 0 10px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  position: relative;

  &:hover{
    background-color: black;
    color: white;
  }
}