.cart-container{
  position: relative;

  .cart-items-container{
    position: absolute;
    right: 0;
    width: 400px;
    background-color: white;
    box-shadow: 0 1px 5px -1px rgba(0,0,0,.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
  }
}