@import "Navbar";
@import "Home";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2{
  font-weight: 100;
}

h3, h4{
  font-weight: 300;
}

.page-content-container{
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1200px;
}